.font-1 {
  font-size: 14px;
  color: #919191;
}

.font-2 {
  font-size: 16px;
  color: #8a8a8a;
}

.font-3 {
  font-size: 18px;
  color: #828282;
  text-decoration: underline;
}

.font-4 {
  font-size: 20px;
  color: #7a7a7a;
}

.font-5 {
  font-size: 22px;
  color: #737373;
}

.font-6 {
  font-size: 24px;
  color: #6b6b6b;
  text-decoration: underline;
}

.font-7 {
  font-size: 26px;
  color: #636363;
}

.font-8 {
  font-size: 28px;
  color: #5c5c5c;
}

.font-9 {
  font-size: 30px;
  color: #545454;
  text-decoration: underline;
}

.font-10 {
  font-size: 32px;
  color: #4d4d4d;
}
