* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #2ecc71;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .main {
  width: 400px;
  padding: 2rem 3rem;
  background: #fff;
}

body .main h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #27ae60;
  margin-bottom: 1rem;
}

body .main form input {
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

body .main form input[type="text"]:focus {
  outline: none;
  border-color: #27ae60;
}

body .main form input[type="password"]:focus {
  outline: none;
  border-color: #27ae60;
}

body .main form input[type="submit"] {
  width: 100%;
  padding: 0.5rem;
  border: none;
  background-color: #27ae60;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

body .main form input[type="submit"]:hover {
  background-color: #2ecc71;
}

body .main ul {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}

body .main ul li a {
  color: black;
  font-size: 1rem;
}

body .main ul li a:hover {
  color: #27ae60;
}
