<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
    <style>
        *{
            margin: auto;
            padding: auto;
        }
        ul,
        ol {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>
    <div id="app"></div>
    <template id="root">
        <ul>
            <li v-for="item in phoneList">
                <ul>
                    <li v-for="value in phoneList">
                        <img :src="item.imgUrl" alt="">
                        <h3>{{item.title}}</h3>
                        <p>{{item.type}}</p>
                        <p>{{item.price}}</p>
                    </li>
                </ul>
            </li>
        </ul>
    </template>

    <script>
        const app = Vue.createApp({
            template: "#root", 
            data() {
                return {
                    phoneList: [
                        {
                            imgUrl:"./img/202502251811_93715df0882e43e252843e3c7b775570.webp",
                            // img:"https://cdn.cnbj1.fds.api.mi-img.com/nr-pub/202502251811_93715df0882e43e252843e3c7b775570.png?thumb=1&w=250&h=250&f=webp&q=90",
                            title: "Xiaomi 15 Ultra",
                            type:" 徕卡1英寸主摄 | 徕卡2亿超级长焦 | 徕卡超纯光学系统 | 骁龙8至尊版移动平台 | 6000mAh 小米金沙江电池 | 小米澎湃OS 2",
                            price:"6499元起",
                        },
                        {
                            
                        }
                    ] 
                } 
            }
            
        })
        const root = app.mount("#app")
    </script>
</body>
</html>